/* MEDIA QUERIES */

@media screen and (min-width: 250px) {
    /* NAVBAR */
    .mobileNav {
        background-color: orange;
        width: 100%;
    }
    .searchNav {
        width: 80%;
    }
    #mobileNav>form>span {
        margin-left: 3%;
    }
    #mobileNav ul li {
        display: inline-block;
        margin-right: 1%;
        margin-left: 3%;
        cursor: pointer;
    }
    #mobileNav ul {
        display: inline-block;
        width: 100%;
    }
    .mobileToggler {
        left: 85%;
        padding: 1%;
    }
    .desktopToggler {
        display: none;
    }
    .mobileForm {
        left: 0;
        top: 5.5rem;
        min-width: 17rem;
        width: 10%;
        position: fixed;
    }
    .mobileCart {
        left: 4rem;
        top: 5.5rem;
        min-width: 5rem;
        position: fixed;
    }
    /* FONT SIZE */
    /* HEADER */
    body>header>div:nth-child(2)>h1>span.comfort {
        font-size: 15vw;
    }
    body>header>div:nth-child(2)>h1>span.kit {
        font-size: 16vw;
    }
    /* FEATURED */
    #featured h2 {
        font-size: 8vw;
    }
    #featured>div>div p {
        font-size: 6vw;
    }
    /* OUR SELECTION */
    #selection h2 {
        font-size: 8vw;
    }
    #selection>div>div p {
        font-size: 6vw;
    }
    /* WHY WE ARE AWESOME */
    #awesome h2 {
        font-size: 7vw;
    }
    #awesome>div>div:nth-child(6)>h3 {
        font-size: 6vw;
    }
    #awesome>div>div blockquote p {
        font-size: 4vw;
    }
    #awesome>div>div blockquote cite {
        font-size: 3.2vw;
    }
    #awesome>div>div blockquote img {
        min-width: 7rem;
    }
    /* CONTACT US */
    #contact h2 {
        font-size: 8vw;
    }
    #contact>div>div>form>fieldset:nth-child(2)>fieldset:nth-child(3) {
        margin-top: 5%;
    }
    /* FOOTER */
    body>footer {
        font-size: 5vw;
    }
}

@media screen and (min-width: 360px) {
    /* NAVBAR */
    .mobileToggler {
        padding: 0.5%;
        left: 90%;
    }
    #mobileNav ul li {
        margin-left: 4%;
        margin-right: 4%;
    }
    .mobileCart {
        left: 6rem;
    }
    .searchNav {
        width: 62%;
    }
}

@media screen and (min-width: 410px) {
    /* NAVBAR */
    .mobileToggler {
        padding: 0.5%;
        left: 91%;
    }
    #mobileNav ul li {
        margin-left: 5.5%;
        margin-right: 5.5%;
    }
    .mobileCart {
        left: 8rem;
    }
}

@media screen and (min-width: 440px) {
    /* WHY WE ARE AWESOME IMAGES */
    #awesome>div>div blockquote img {
        min-width: 9rem;
    }
    .searchNav {
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    #mobileNav>form>span {
        position: relative;
        right: 15%;
    }
}

@media screen and (min-width: 470px) {
    .searchNav {
        width: 50%;
    }
    #mobileNav>form>span {
        right: 20%;
    }
}

@media screen and (min-width: 545px) {
    /* NAVBAR */
    #mobileNav ul li {
        margin-left: 6%;
        margin-right: 6%;
    }
    .mobileCart {
        left: 11rem;
    }
    /* FONT SIZE */
    /* HEADER */
    body>header>div:nth-child(2)>h1>span.comfort {
        font-size: 14vw;
    }
    body>header>div:nth-child(2)>h1>span.kit {
        font-size: 15vw;
    }
    /* FEATURED */
    #featured h2 {
        font-size: 7vw;
    }
    #featured>div>div p {
        font-size: 5vw;
    }
    /* OUR SELECTION */
    #selection h2 {
        font-size: 7vw;
    }
    #selection>div>div p {
        font-size: 5vw;
    }
    /* WHY WE ARE AWESOME */
    #awesome h2 {
        font-size: 6vw;
    }
    #awesome>div>div:nth-child(6)>h3 {
        font-size: 5vw;
    }
    #awesome>div>div blockquote img {
        min-width: 12rem;
    }
    /* CONTACT US */
    #contact h2 {
        font-size: 7vw;
    }
    /* FOOTER */
    body>footer {
        font-size: 4vw;
    }
}

@media screen and (min-width:574px) {
    /* NAVBAR */
    #mobileNav ul li {
        margin-left: 7%;
        margin-right: 7%;
    }
    .mobileCart {
        left: 14rem;
    }
    .mobileToggler {
        left: 92%;
    }
    .mobileForm {
        left: 8%;
        padding: 2%;
    }
    /* OUR SELECTION */
    #selection>div>div p {
        font-size: 4vw;
    }
    /* WHY WE ARE AWESOME */
    #awesome>div>div blockquote img {
        min-width: 11rem;
    }
}

@media screen and (min-width: 576px) {
    .searchNav {
        width: 70%;
        text-align: center;
        right: 50%;
        left: -25%;
    }
    #mobileNav>form>span {
        right: 28%;
    }
}

@media screen and (min-width: 710px) {
    /* NAVBAR */
    #mobileNav ul li {
        margin-left: 8%;
        margin-right: 8%;
    }
    .mobileCart {
        left: 19rem;
    }
    .mobileToggler {
        left: 94%;
    }
    .mobileForm {
        left: 11%;
    }
    /* WHY WE ARE AWESOME */
    #awesome>div>div blockquote img {
        min-width: 13rem;
    }
    .searchNav {
        left: -30%;
    }
    #mobileNav>form>span {
        right: 32%;
    }
}

@media screen and (min-width: 768px) {
    #mobileNav ul li {
        margin-left: 6%;
        margin-right: 6%;
    }
    .mobileCart {
        left: 10rem;
        top: 8%;
    }
    .mobileForm {
        top: 8%;
        left: 0;
    }
    .searchNav {
        width: 100%;
        left: 0;
        right: 0;
    }
    #mobileNav>form {
        width: 100%;
        position: relative;
        right: 0;
        left: -10%;
        text-align: center;
        top: 0;
    }
    #mobileNav>form>span {
        margin: 0;
        position: relative;
        left: 0;
        right: 0;
    }
}

@media screen and (min-width: 780px) {
    #mobileNav>form {
        width: 50%;
        left: -5%;
    }
    #mobileNav ul li {
        margin-left: 7%;
        margin-right: 7%;
    }
    .mobileCart {
        left: 13rem;
    }
    .mobileForm {
        left: 3%;
    }
}

@media screen and (min-width: 850px) {
    #mobileNav ul li {
        margin-left: 7.6%;
        margin-right: 7.6%;
    }
    #mobileNav>form {
        width: 50%;
    }
}

@media screen and (min-width: 880px) {
    .mobileCart {
        left: 15rem;
    }
    .mobileForm {
        left: 5%;
    }
}

@media screen and (min-width: 920px) {
    #mobileNav ul li {
        margin-left: 8.5%;
        margin-right: 8.5%;
    }
    .mobileCart {
        left: 18rem;
    }
    .mobileForm {
        left: 7%;
    }
}

@media screen and (min-width: 960px) {
    .mobileCart {
        left: 20rem;
    }
    .mobileForm {
        left: 9%;
    }
    #mobileNav>form {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    /* HIDE MOBILE NAVBAR AND SHOW DESKTOP NAVBAR!!! */
    .mobileNav {
        display: none;
    }
}
